<header class="header">
  <div class="content-nav">
    <div class="logo">
      <img src="assets/images/Logo.svg" alt="Logo" />
    </div>
    <nav class="nav">
      <a routerLink="products/list">Home</a>
    </nav>
  </div>

  <ng-container *ngIf="token; else notLoggedIn">
    <div class="search-account">
      <div class="search-bar">
        <input
          type="text"
          placeholder="Search"
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchChange($event)"
        />
      </div>

      <div class="cart-icon">
        <img src="assets/images/Cart.svg" alt="Cart" />
        <span *ngIf="numberOfAddedItems" class="cart-badge">
          {{ numberOfAddedItems }}
        </span>
      </div>

      <div class="account-icon">
        <a routerLink="auth/sign-in">Account</a>
      </div>
    </div>
  </ng-container>

  <ng-template #notLoggedIn>
    <div class="account-icon">
      <a routerLink="auth/sign-in">Login</a>
    </div>
  </ng-template>
</header>
